<!--
  Generated template for the MalaProntaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <h1>MOCHILA PRONTA</h1>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <br>
  <br>
  <div class="titulo">
    <div class="backg">
      <div id="intinerario">
        <div style="margin: 0 auto; width:100px">
          <img style="margin: 0 auto" height="100" width="120" src="assets/imgs/backpack.png">
        </div>
        <h3>backpack</h3>
        <h4> País destino: {{this.country}}</h4>
        <h4> Estação: {{this.estacao}}</h4>
      </div>
      <br>
      <br>
      <br>





      <div id="camiseta" data-ng-style="{'background' : 'red' : item.selected}">

        <img src="assets/imgs/shirt.png" height="80" width="80" item-start>
        <h2>{{ this.qtdCamisetas}}</h2>
        <br>
        <br>

      </div>


      <div id="blusa">

        <img src="assets/imgs/sweatshirt.png" height="80" width="80" item-start>
        <h2>{{ this.qtdBlusas}}</h2>
        <br>
        <br>
      </div>


      <div id="calca">

        <img src="assets/imgs/jeans.png" height="80" width="80" item-start>
        <h2>{{ this.qtdCalcas}}</h2>
        <br>
        <br>
      </div>


      <div id="bermuda">

        <img src="assets/imgs/pants.png" height="65" width="65" item-start>
        <h2>{{ this.qtdBermudas}}</h2>
        <br>
        <br>
      </div>

      <div id="tenis">

        <img src="assets/imgs/shoes.png" height="80" width="80" item-start>
        <h2>{{ this.qtdTenis}}</h2>
      </div>
    </div>



  </div>

  <div>
    <br>
    <h5>Faça uma ótima viagem!</h5>
  </div>
</ion-content>