<!--
  Generated template for the InicialPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>
      <h1>PAÍS DESTINO</h1>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">

  <ion-card (click)="canada()">
    <img src="assets/imgs/canada.jpg" />
    <div class="card-title">CANADA</div>
    <div class="card-subtitle">41 Listings</div>
  </ion-card>

  <ion-card (click)="china()">
    <img src="assets/imgs/china.jpg" />
    <div class="card-title">CHINA</div>
    <div class="card-subtitle">64 Listings</div>
  </ion-card>

  <ion-card (click)="newyork()">
    <img src="assets/imgs/ny.jpg" />
    <div class="card-title">NEW YORK</div>
    <div class="card-subtitle">72 Listings</div>
  </ion-card>

</ion-content>