page-inicial {
  .color{
    background-color: rgb(31, 29, 29);
  }


  h1{
    color: rgb(255, 255, 255);
  }

  ion-title{
    
     font-family:  "Caviar Dreams", Arial, sans-serif;
     background: transparentize($color: #181717, $amount: 0.0);
   } 


 
    .card-background-page {
      
        
          ion-card {
            position: relative;
            text-align: center;
            border-radius: 25px 25px 25px 25px;
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
          }
        



          .card-title {
            
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: #fff;
          }
        
          .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            top: 52%;
            width: 100%;
            color: #fff;
          }
        
        }

        ion-content{
          background-image: url(../assets/imgs/black.png);
          background-size: 1000px;
        }

}



