page-home {

    h1{
        color: rgb(255, 255, 255);
      }
    
    
    
    
      ion-title{
        
         font-family:  "Caviar Dreams", Arial, sans-serif;
         background: transparentize($color: #181717, $amount: 0.0);
       } 

}

button{
    font-family:  "Caviar Dreams", Arial, sans-serif;
}

ion-input{
    font-family:  "Caviar Dreams", Arial, sans-serif;
}

ion-content{
    background-image: url(../assets/imgs/bag.png);
    background-size: 1000px;
}

ion-list{
    background: transparentize($color: #000000, $amount: 0.5);
}