<!--
  Generated template for the MochilaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar >
    <ion-title ><h1 style="font:white">MOCHILA</h1></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div>
    <title>Sua Mala</title>
  </div>

<div >
    <ion-item>
      <ion-label>Camisetas</ion-label>
      <ion-select [(ngModel)]="camisetas">
        <ion-option value="0">0</ion-option>
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
        <ion-option value="7">7</ion-option>
        <ion-option value="8">8</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Blusas de Frio</ion-label>
      <ion-select [(ngModel)]="blusas">
        <ion-option value="0">0</ion-option> 
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
        <ion-option value="7">7</ion-option>
        <ion-option value="8">8</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Calças</ion-label>
      <ion-select [(ngModel)]="calcas">
        <ion-option value="0">0</ion-option>
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
        <ion-option value="7">7</ion-option>
        <ion-option value="8">8</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Shorts</ion-label>
      <ion-select [(ngModel)]="bermudas">
        <ion-option value="0">0</ion-option>
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
        <ion-option value="7">7</ion-option>
        <ion-option value="8">8</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Sapatos</ion-label>
      <ion-select [(ngModel)] ="tenis">
        <ion-option value="0">0</ion-option>
        <ion-option value="1">1</ion-option>
        <ion-option value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
        <ion-option value="7">7</ion-option>
        <ion-option value="8">8</ion-option>
      </ion-select>
    </ion-item>
  </div>


  <div  class="botao" style="margin: 0 auto; width:160px">
      <button class="button" (click)="finalizarMala()" ion-button color="dark" round>Salvar Mochila</button>
  </div>

  <div  class="botao" style="margin: 0 auto; width:160px">
      <button class="button" (click)="malaExemplo()" ion-button color="dark" round>Gerar Mochila Exemplo</button>
  <br><br>

  </div>

  <div class="sugestao">
    
      <h5>Para cada semana no {{this.pais}} na estação {{this.climaa}} sujerimos: </h5>
      <ul>
        <li>Camisetas: {{this.camisetasEx}}</li>
        <li>Blusas de Frio:  {{this.blusaEx}}</li>
        <li>Calças:  {{this.calcaEx}}</li>
        <li>Shorts:  {{this.bermudaEx}} </li>
        <li>Sapatos:  {{this.tenisEx}}</li>
      </ul>
  </div>

  




</ion-content>