page-mochila {



ion-title{
    font-style: white;
    font-family:  "Caviar Dreams", Arial, sans-serif;
    background: transparentize($color: #181717, $amount: 0.0);
} 

h1{
    color: rgb(255, 255, 255);
}

.card{
    position: static;
    top: 86%;
    font-size: 2.0em;
    width: 100%;
    height: center;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 25px 25px 25px 25px;
    background: transparentize($color: #000000, $amount: 0.5);
}

.sugestao{
    border-radius: 25px 25px 25px 25px;
    background: transparentize($color: #181717, $amount: 0.5);
}

.botao {
    font-family:  "Caviar Dreams", Arial, sans-serif;
    position: center;
}

h5{
    font-family:  "Caviar Dreams", Arial, sans-serif;
    margin-left: 30px;
    color: rgb(255, 255, 255);
   
   
}

ion-label{
    font-family:  "Caviar Dreams", Arial, sans-serif;
}

ul{
    font-family:  "Caviar Dreams", Arial, sans-serif;
    font-size: 20px;
    margin-left: 55px;
    color: rgb(255, 255, 255);
    
}



}
