// http://ionicframework.com/docs/theming/

h1{
    font-family:  "Caviar Dreams", Arial, sans-serif;
}

h2{
    font-family:  "Caviar Dreams", Arial, sans-serif;
}

h3{
    font-family:  "Caviar Dreams", Arial, sans-serif;
}

h4{
    font-family:  "Caviar Dreams", Arial, sans-serif;
}
h5{
    font-family:  "Caviar Dreams", Arial, sans-serif;
}
 
p{
    font-family:  "Caviar Dreams", Arial, sans-serif;
}

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
