page-estacao {

    h1{
        color: rgb(255, 255, 255);
      }
    
      ion-title{
         font-family:  "Caviar Dreams", Arial, sans-serif;
         background: transparentize($color: #2a2828, $amount: 0.0);
       } 

       button{
        background-color: black;
        font-family:  "Caviar Dreams", Arial, sans-serif;
        position: absolute;
    }


}
