<!--
  Generated template for the EstacaoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><h1>ESTAÇÃO</h1></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
    <button (click)="primavera()"  ion-button block>Primavera</button>
    <button (click)="verao()"  ion-button block>Verão</button>
    <button (click)="outono()"  ion-button block>Outono</button>
    <button (click)="inverno()"  ion-button block>Inverno</button>

</ion-content>
